<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login App</title>
    {{!-- <link rel="stylesheet" href="/public/css/main.css"> --}}
</head>
<body>
   
    
    <h3>Authentication and Middleware</h3>
    <main>
        {{{body}}}
    </main>
</body>
</html>