<h3>Welcome to Online Course Website Project</h3>
<p> Online Course Website is a Learning platform. Where instructor can create a new courses and students can register for the courses, and students can take quizz exams on the course and dowload the notess  </p>

<a class="button" href="/users/signup">Sign Up</a>
<p>You need to signup to register for online courses</p>