{{!-- 

This view will be shown when the 'GET /logout' endpoint is called and will:
-Inform the user that they have been logged out
-Provide a URL hyperlink to the / route

 --}}

 <section>
    <h2>You have been successfully logged out!</h2>
    <a href="/">Go to Homepage.</a>
 </section>