


{{> page/head_nav}}
 {{> page/sidenavigation}}


 <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>
       
       <div class="info">



<div class="social_media">
  <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
</div>

</div>
      </div>

{{> page/footer}}