<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>courseList</title>
  <meta charset="utf-8">
        <h1>Resourcelist</h1>
        <ul>
          <li><a href="/">courses</a></li>
          <li><a href="/AddResource">Add resources</a></li>
        </ul>

  <body>

<h1>{{title}}</h1>
<p>{{resource}}</p>

</body>
</html>