<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>courseList</title>
  <meta charset="utf-8">
        <h1>Resources</h1>
        <ul>
          <li><a href="/">courses</a></li>
          <li><a href="/AddResource">Add resources</a></li>
        </ul>

  <body>

<h1>Add resources</h1>
<form action="/AddResource" method="post" >
    <div>
        <label>Title</label>
        <br>
        <input type="text" value="" name="comp">
        <br>
        <label>Resource</label>
        <br>
        <textarea  name="compbody" cols="100" rows="20"></textarea>
    </div>
    <button type="submit">Add</button>
</form>

</div>
</body>
</html>



