{{!-- <% if (prods.length > 0) { %> --}}
<div>

        <ul class="list-group">
           <li class="list-group-item">
                <input class="form-check-input me-1 mr-5" type="checkbox" value="" aria-label="..." {{#if isLoggedIn}} checked {{/if}}>
                <a href="" class="">First checkbox</a>
            </li>
             <li class="list-group-item">
                <input class="form-check-input me-1 mr-5" type="checkbox" value="" aria-label="..." {{#if isLoggedIn}} checked {{/if}}>
                <a href="" class="">First checkbox</a>
            </li>
             <li class="list-group-item">
                <input class="form-check-input me-1 mr-5" type="checkbox" value="" aria-label="..." {{#if isLoggedIn}} checked {{/if}}>
                <a href="" class="">First checkbox</a>
            </li>
             <li class="list-group-item">
                <input class="form-check-input me-1 mr-5" type="checkbox" value="" aria-label="..." {{#if isLoggedIn}} checked {{/if}}>
                <a href="" class="">First checkbox</a>
            </li>
        
       

            {{!-- {{#each items}}

                 <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    <a href="" class="">{{ input.name }}</a>
                </li>

            {{/each}} --}}

            
        </ul>

</div>
           