{{!-- <% if (prods.length > 0) { %> --}}
 {{> page/head_nav}}
 {{> page/sidenavigation}}


<div>
         <div class="grid">
                {{!-- <% for (let product of prods) { %> --}}
                    {{!-- <article class="card product-item"> --}}

                        <div class="card product-item" style="width: 18rem;">
                            <div class="card__header">
                                <h1 class="product__title">Title</h1>
                            </div>
                            <div class="card__image">
                                <img src="">Image
                            </div>
                            <div class="card__content">
                                <h2 class="product__price">price</h2>
                                <p class="product__description">description</p>
                            </div>
                            {{#if isLoggedIn}}

                            <button>
                                <div class="card__actions green">
                                <a href="/products/<%=product.id%>" class='btn'>Enroll</a>
                            </div>
                            </button>
                            
                            {{/if}}
                        </div>
                       
                    {{!-- </article> --}}
                {{!-- } --}}
            </div>
        {{!-- <% } else { %>
            <h1>No Products Found!</h1>
        <% } %> --}}
</div>
           