{{!-- <% if (prods.length > 0) { %> --}}
<div>
        {{> navigation this}}

         <div class="grid">
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">Title</h1>
                        </header>
                        <div class="card__image">
                            <img src="">Image
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">price</h2>
                            <p class="product__description">description</p>
                        </div>
                        {{#if isLoggedIn}}
                        <div class="card__actions">
                            <a href="/products/<%=product.id%>" class='btn'>Enroll</a>
                        </div>
                        {{/if}}
                    </article>
            </div>

</div>
           