<html lang="en">
  <head>
    {{! <title>Bootstrap Example</title> }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="public/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    ></script>

  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        {{!-- <div class="menu-bar">
         <a class="navbar-brand" href="#">  {{> page/sidenavigation}}</a>
        </div> --}}

        <div class="navbar-header">
          <a class="navbar-brand" href="#">Online Course Website</a>
        </div>

        <ul class="nav navbar-nav">

          <li class="active"><a href="/protected">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Quizz</a></li>
          <li><a href="/contact_form">Contact Form</a></li>


          <li style="pt-2">
              <form action="/protected" method="post">
                <input id= "search_course" name="search_course" type="text" title="Search" />
                <button type="submit">search</button>
              </form>
          </li>
        

          </div>
        </ul>
    </nav>

   